.container{
    width: 600px;
    margin: auto;
    border: thin solid black;
    padding: 25px;
}

.nav{
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}

.grid{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #6cab79;
    padding: 10px;
}

.grid img{
    width: 99%;
}